- if current_user && (current_user != user)
  = form_tag toggle_follow_path(:username => user.username), {:class => "follow_form"} do
    %button{:type => "submit", :class => "btn"}
      = ((current_user.is_friend_of user) ? "Unfollow": "Follow")  
