- title "#{@user.username} on twitter"

%h1
  
  .header_img= image_tag @user.gravatar_url :size => 80
  .header_username
    = @user.username + " " + what
    = render :partial => 'toggle_follow_button', :locals => {:user => @user}
  .clear