- title "#{@user.username} on twitter"

%h1
  %span
  = image_tag @user.gravatar_url
  %span.top
    = @user.username + " " + what
  %span
    = render :partial => 'toggle_follow_button', :locals => {:user => @user}