$primary_color: #C0DEED

body
  background: $primary_color url(/assets/bg.png) top repeat-x
  color: #333333
  font:
    family: "Helvetica Neue",Arial,sans-serif
    size: 14px

a
  font-weight: bold
  text-decoration: none
  color: #2275bb
  img
    border: none

.clear
  clear: both
  height: 0
  overflow: hidden

@mixin rounded 
  -moz-border-radius: 6px
  -webkit-border-radius: 6px
  border-radius: 6px 
  
@import "header"
@import "container"   
@import "head_messages"

  

